
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styling */
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    overflow: hidden;
  }
  
  /* Cube styling */
  .cube {
    width: 50px;
    height: 50px;
    background-color: #043e65;
    position: absolute;
    left: 0;
    top: 94.5%;
    transform: translateY(-50%);
  }
  .obstacle {
    width: 100px;
    height: 20px;
    background-color: #000000;
    position: absolute;
    left: 50%;
    top: 80%;
    
    transform: translateY(-50%);
  }

  

  