
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 

  h1{
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 20px;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    position: absolute;
    left:0%;
    top: 0%;

  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    overflow: hidden;
  }
  .ground
  {
    width: 2000px;
    
    height: 20px;
    background-color: #043e65;
    position: absolute;
    left: 0;
    top: 99%;
    transform: translateY(-50%);

  }
  
  .cube {
    width: 50px;
    height: 50px;
    background-color: #032b45;
    position: absolute;
    left: 0;
    top: 94%;
    transform: translateY(-50%);
    /* background-image: url('orlincube.jpg'); */
    background-size: cover;
    background-position: right; 
    background-repeat: no-repeat; 
  }
  .obstacle1 {
    width: 100px;
    height: 200px;
    background-color: #e74c3c;
    position: absolute;
    left: 500px;
    top: calc(100vh - 200px); 
  }
  .obstacle2 {
    width: 100px;
    height: 200px;
    background-color: #e74c3c;
    position: absolute;
    left: 840px;
    top: calc(100vh - 400px); 
  }
  .textbox {
    
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
  }
  .textbox1{
    position: absolute;
    left: 840px;
    top: calc(100vh - 700px);   
  }
  .textbox2{
    position: absolute;
    left: 1200px;
    top: calc(100vh - 100px);   
  }
  .box{
    width: 100px;
    height: 70px;
    position: absolute;
  }
  .textbox3{
    position: absolute;
    left: 500px;
    top: calc(100vh - 500px);  
  }
  .box1 {
    font-size: 1;
  }
  
  
 

  

  